@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.footer {
  background-color: #B9D5FD;


  .container {
    padding-top: 40px;
    padding-bottom: 54px;
    display: flex;
    flex-direction: column;

    .footer-top {
      display: flex;
      align-items: center;
      justify-content: left;


      .footer-menu {

        .menu-items {
          list-style: none;
          display: flex;
          align-items: center;

          .menu-item {
            margin-right: 30px;

            &:last-child {
              margin-right: 0;
            }

            a {
              @include montserrat-dark-blue-16;
              font-weight: 400;
              transition: all .3s;

              &:hover {
                color: $light-blue-text-color;
              }
            }
          }
        }
      }
    }

    .footer-content {
      display: flex;
      margin-top: 40px;

      .content-block {
        margin-right: 60px;

        &:first-child {
          width: 253px;
        }

        &:last-child {
          margin-right: 0;
        }

        .content-block-title {
          @include montserrat-light-blue-16;
          font-weight: 500;
        }

        .content-block-text {
          @include montserrat-dark-blue-16;
          font-weight: 400;
          line-height: 1.3;
          margin-top: 10px;
        }

        a.content-block-text {
          display: block;
          transition: all .3s;

          &:hover {
            color: $light-blue-text-color;
          }
        }

        .content-block-socials {
          margin-top: 15px;

          a {
            margin-right: 12px;

            svg {
              cursor: pointer;

              &:last-child {
                margin-right: 0;
              }
              path {
                transition: fill .3s;
              }
              &:hover path {
                fill: $light-blue-text-color;
              }
            }
          }
        }

        .content-block-button {
          padding: 10px 20px;
          margin-top: 10px;
          font-weight: 500;
        }
      }
    }

    .copyrights {
      margin-top: 6px;
      @include montserrat-light-blue-16;
      font-weight: 400;
    }
  }
}
