@import "mixins";
@import "variables";

.article-content-text {
  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $dark-blue-text-color;
    line-height: 130%;
    margin-bottom: 20px;
  }

  h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    margin: 20px 0;
    color: $light-blue-text-color;
  }
}
