@import "mixins";
@import "variables";

html, body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: $container-width;
  padding: 0;
  margin: 0 auto;
}

a {
  text-decoration: none !important;
}

.button, .modal-content .button {
  border-radius: 5px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: $white-text-color;
  background-color: $light-blue-text-color;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    color: $white-text-color-hover;
    background-color: $light-blue-text-color-hover;
  }

  &:disabled {
    background-color: #A8ABA7;
    color: $white-text-color;
    cursor: not-allowed;
  }
}

.owl-nav {
  display: none;
}

.owl-theme {
  .owl-dots {
    position: absolute;
    bottom: 15px;
    left: calc(50% - 45px);

    .owl-dot {
      span {
        margin: 0 10px !important;
        background: transparent !important;
        border: 1px solid #fff;
      }

      &.active span {
        background: #fff !important;
      }
    }
  }

  span.special {
    color: $light-blue-text-color;
  }
}

.arrow {
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

//article card
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 291px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  .item-content {
    .item-content-img {
      height: 291px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 5px;
    }

    .item-content-title {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 20px;
      color: $light-blue-text-color;
      margin-top: 15px;
      line-height: 130%;
    }

    .item-content-text {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: $dark-blue-text-color;
    }
  }

  .item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.common-input {
  width: 422px;
  border: 2px solid $light-blue-text-color;
  border-radius: 3px;
  padding: 17px 0 17px 20px;
  color: $light-blue-text-color;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  outline: none;

  &::placeholder {
    color: #A8ABA7;
  }

  &:focus, &:hover {
    border-color: $light-blue-text-color-hover;
    color: $light-blue-text-color-hover;
  }
}
