@import "variables";

@mixin montserrat-dark-blue-16 {
  font-size: 16px;
  color: $dark-blue-text-color;
  font-family: 'Montserrat', sans-serif;
}

@mixin montserrat-dark-blue-12 {
  font-size: 12px;
  color: $dark-blue-text-color;
  font-family: 'Montserrat', sans-serif;
}

@mixin montserrat-light-blue-16 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: $light-blue-text-color;
}

@mixin montserrat-light-blue-12 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: $light-blue-text-color;
}

@mixin lora-light-blue-38 {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 38px;
  color: $light-blue-text-color;
}
