$container-width: 1240px;
$dark-blue-text-color: #071739;
$light-blue-text-color: #508cdd;
$light-blue-text-color-hover: #1b3663;
$dark-purple-text-color: #1E1A2B;
$dark-purple-text-color-hover: #4f4773;
$light-gray-text-color: #A8ABA7;
$white-text-color: #ffffff;
$white-text-color-hover: #d2e0f8;
